<!DOCTYPE html>
<html lang="en">

<head>
	<title>{{{title}}}</title>
	<meta charset="utf-8">
	<meta http-equiv="Content-type" content="text/html;charset=utf-8">
	<link rel="stylesheet" type="text/css" href="/css/style.css">

	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="description" content="Detailing the progress made on 'Love & Painkillers', the eventual second album from rock guitarist and gentleman adventurer Clive Murray">
	<meta name="keywords" content="guitar, guitarist, music, rock music, instrumental rock, clive murray, axemonkey, love & painkillers, earthman">

	<link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
</head>

<body class="bg{{{bgIndex}}}">
	{{{body}}}

	<script nomodule src="js/es5bundle.main.js"></script>
	<script type="module" src="js/main.js"></script>
</body>

</html>
