<!DOCTYPE html>
<html lang="en">

<head>
	<title>{{ title }}</title>
	<meta charset="utf-8">
	<meta http-equiv="Content-type" content="text/html;charset=utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">

	<link rel="stylesheet" type="text/css" href="/public/css/style.css">
	<meta name="description" content="Detailing the progress made on 'Love & Painkillers', the eventual second album from rock guitarist and gentleman adventurer Clive Murray">
	<meta name="keywords" content="guitar, guitarist, music, rock music, instrumental rock, clive murray, axemonkey, love & painkillers, earthman">

	<!-- Twitter meta tags -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@axemonkey">
	<meta name="twitter:title" content="Love and Painkillers by Clive Murray. Get it now!">
	<meta name="twitter:description"
		content="Love and Painkillers, the second album from rock guitarist and gentleman adventurer Clive Murray, is available now from Bandcamp and other digital platforms. See loveandpainkillers.com for details.">
	<meta name="twitter:image" content="https://loveandpainkillers.com/public/images/socials-card.jpg">

	<!-- Facebook meta tags -->
	<meta property="og:url" content="https://loveandpainkillers.com/">
	<meta property="og:type" content="website">
	<meta property="og:title" content="Love and Painkillers by Clive Murray. Get it now!">
	<meta property="og:description"
		content="Love and Painkillers, the second album from rock guitarist and gentleman adventurer Clive Murray, is available now from Bandcamp and other digital platforms.">
	<meta property="og:image" content="https://loveandpainkillers.com/public/images/socials-card.jpg">

	<link rel="apple-touch-icon" sizes="180x180" href="/public/images/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/public/images/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/public/images/favicon/favicon-16x16.png">

	<link rel="apple-touch-icon" sizes="180x180" href="/public/images/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/public/images/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/public/images/favicon/favicon-16x16.png">
</head>

<body>

	{{ content | safe }}

	<script nomodule src="/public/js/es5bundle.main.js"></script>
	<script type="module" src="/public/js/main.js"></script>
</body>

</html>
