---
layout: teaser-layout.njk
title: Love and Painkillers
---

<header>
	<h1>SOON</h1>
</header>

<section>
	<img src="/public/images/launch/teaser01_no-headline.jpg" alt="A textured silhouette of Clive with a guitar" />
</section>

<script nomodule src="/public/js/es5bundle.teaser-forward.js"></script>
<script type="module" src="/public/js/teaser-forward.js"></script>
