---
layout: launch-layout.njk
title: Love and Painkillers
---
<main>

	<header>
		<h1>Love and Painkillers</h1>
	</header>

	<main>
		<img src="/public/images/launch/cover.jpg" alt="The front cover of Love and Painkillers. Clive strikes a cool pose with his swirly guitar." />

		<section>
			<p>The 2nd album from British rock guitarist Clive Murray.</p>
			<p>Released 2nd February, 2024. Buy/pre-order at:</p>
			<ul>
				<li><a class="buy-link" href="https://clivemurray.bandcamp.com/album/love-and-painkillers">Bandcamp.com</a></li>
				<li><a class="buy-link" href="https://mirlo.space/clive-murray/release/love-and-painkillers">Mirlo.space</a></li>
				<li><a class="buy-link" href="https://jam.coop/artists/clive-murray/albums/love-and-painkillers">Jam.coop</a></li>
			</ul>
		</section>

		<section>
			<p>Encountering issues when purchasing? Any other enquiries? <a href="mailto:clive@loveandpainkillers.com">Send me an email</a> and I will try to help.</p>
			<p>Looking for the PDF booklet/liner notes? <a href="/public/files/LoveAndPainkillers.pdf">Download the PDF here (27MB)</a>.</p>
		</section>
	</main>


</main>

<footer>
	<section>
		<p><small>&copy; 2024 <a href="https://clivemurray.com/">Clive Murray</a></small></p>
		<p><small>Cover photo: Saffron Murray</small></p>
	</section>
</footer>
